.nav-user {
  font-weight: bold;  
}

.thumbnail {
  padding: 0; /* images will now have no space inbetween the thumbnail border and the image. */
}
.thumbnail img {
  width: 100%; /* images will now stretch the width. */
}

.thumbnail .caption-full {
  padding: 9px;
}

form.form-center {
  width: 30%; margin: 25px auto;
}


/*==========*/
/* Show campgrounds page */
/*==========*/
.camp-name {
  float: left;
}

.campground-description {
  display: block;
  width: 100%;
  clear:both;
  text-align: left;
}

.author-buttons {
  float: left;
  clear: both;
}
.camp-author {
  display: inline-block;
  width: 100%;
  text-align: left;
  
}
.show-buttons {
  float: left;
  clear: both;
}
#edit-button { 
  display: inline;
  float: left;
}
#delete-form {
  display: inline;
  float: left;
}
