<h1>Login</h1>
<form action="/login" method="post">
  <div class="form-group">
    <input name="user[username]" type="text" placeholder="username">
  </div>
  <div class="form-group">
    <input name="user[password]" type="password" placeholder="password">
  </div>
  <button>Log in</button>
</form>